<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!--对应DAO接口-->
    <mapper namespace="com.wusiq.dao.PermissionDao">

<!--    <cache eviction="LRU" type="com.wusiq.base.MybatisRedisCache"/>-->

    <resultMap id="permissionMap" type="com.wusiq.entity.PermissionEntity" >
        <id column="res_code" jdbcType="VARCHAR"  property="resCode" javaType="java.lang.String"/>
        <result column="res_mame" jdbcType="VARCHAR"  property="resName" javaType="java.lang.String"/>
        <result column="res_content" jdbcType="VARCHAR" property="resContent" javaType="java.lang.String"/>
        <result column="res_status" jdbcType="CHAR" property="resStatus" javaType="java.lang.String"  />
        <result column="res_type" jdbcType="CHAR" property="resType" javaType="java.lang.String" />
        <result column="res_parent" jdbcType="VARCHAR" property="resParent" javaType="java.lang.String" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" javaType="java.lang.String" />
        <result column="create_date" jdbcType="DATE" property="createDate" javaType="java.util.Date"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" javaType="java.lang.String" />
        <result column="update_date" jdbcType="DATE" property="updateDate" javaType="java.util.Date"/>
        <result column="res_description" jdbcType="VARCHAR" property="resDescription" javaType="java.lang.String" />
        <result column="res_sequence" jdbcType="INTEGER" property="resSequence" javaType="java.lang.Integer" />
        <result column="res_state" jdbcType="CHAR" property="resState" javaType="java.lang.String" />

    </resultMap>

    <!--字段-->
    <sql id="PERMISSION_COLUMN">
        res_code,res_mame,res_content,res_status,res_type,res_parent,create_user,create_date,update_user,update_date,
        res_description,res_sequence,res_state
    </sql>

    <!--查询权限列表-->
    <select id="queryPermissionList" parameterType="com.wusiq.Dto.req.ReqQueryPermissionListDto" resultMap="permissionMap">
        select
        <include refid="PERMISSION_COLUMN"/>
        from t_permission
        where 1 = 1

        <if test="resCode != null">
            and res_code = #{resCode}
        </if>

        <if test="resName != null">
            and res_mame = #{resName}
        </if>

        <if test="resStatus != null">
            and res_status = #{resStatus}
        </if>

        <if test="resType != null">
            and res_type = #{resType}
        </if>

        <if test="resParent != null">
            and res_parent = #{resParent}
        </if>
        ORDER BY res_sequence asc
    </select>

    <!--查询目录列表(全目录)-->
    <select id="queryCatalogList" parameterType="com.wusiq.Dto.req.ReqQueryPermissionListDto" resultMap="permissionMap">
        select
        <include refid="PERMISSION_COLUMN"/>
        from t_permission
        where res_state in('0','1','2') and res_status = '0'
        ORDER BY res_sequence asc
    </select>


</mapper>